.header_container{
    max-width: 100%;
  padding: 10px 0px;
}
.img_container{
    width: 100%;
    height: 100px;
}

.img_container img{
    max-width: 100%;
    max-height: 100%;
}
.ml-140{
    margin-left: 140px;
}
.ml-18{
    margin-left: 18px;
}
.ml-20{
    margin-left: 20px;

}
.ml-40{
    margin-left: 40px;
}
.nav_bar .nav_item{
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-right: 21px;
    letter-spacing: 1px;
    cursor: pointer;

}
.nav_bar .nav_item:hover{
 text-decoration: underline;
 transition-delay: 0.3ms ;
    
}

@media screen and (max-width: 800px) {
    .header_container{
        display: none !important;
    }
    .header_mobile{
        display: block;
        background-color: white;
        padding: 15px;
    }
   .header_mobile .nav_bar .nav_item{
    color: darkgray;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 21px;
    letter-spacing: 1px;
    cursor: pointer;

}


}
@media screen and (min-width: 800px) {
    .header_mobile{
        display: none !important;
        
    }

}